<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create subtask</title>
</head>
<body>
<header>
    <h1>Create subtask</h1>
</header>
<main>
    <h2>Task</h2>
    <table>
        <div th:text="'Title: ' + ${task.title}"></div>
        <div th:text="'Description: ' + ${task.description}"></div>
    </table>
    <h2>Create subtask</h2>
    <form method="post" th:action="'/tasks/'+${task.id}+'/sub/create'">
        <div><label for="title">Title: </label></div>
        <input name="title" id=title type="text">
        <div><label for="description">Description: </label></div>
        <input name="description" id=description type="text">
        <input type="submit" value="Submit">
    </form>
</main>
<footer>

</footer>
</body>
</html>