<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{my.createsubtask}"></title>
</head>
<body>
<header>
    <h1 th:text="#{my.createsubtask}"></h1>
</header>
<main>
    <h2>Task</h2>
    <table>
        <div th:text="'Title: ' + ${task.title}"></div>
        <div th:text="'Description: ' + ${task.description}"></div>
    </table>
    <h2>Create subtask</h2>
    <form method="post" th:action="'/tasks/'+${task.id}+'/sub/create'">
        <div><label for="title" th:text="#{my.title}+': '"></label></div>
        <input name="title" id=title type="text">
        <div><label for="description" th:text="#{my.description}+': '"></label></div>
        <input name="description" id=description type="text">
        <input type="submit" value="Submit">
    </form>
</main>

<footer>
    <span th:text="#{lang.change}"></span>:
    <select id="locales">
        <option value=""></option>
        <option value="en" th:text="#{lang.en}"></option>
        <option value="nl" th:text="#{lang.nl}"></option>
        <option value="fr" th:text="#{lang.fr}"></option>
    </select>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/lang.js"></script>
</body>
</html>