<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{my.taskoverview}"></title>
</head>
<body>

<h1 th:text="#{my.tasks}"></h1>
<div th:if="${tasks==null or tasks.empty}">
    <p th:text="#{my.notasks}"></p>
</div>
<div th:if="${tasks!=null and !tasks.empty}">
    <ul>
        <div th:each="task:${tasks}">
            <li th:text="${task.id} + ' - ' + ${task.title} + ': ' + #{my.due} + ' ' + ${task.due.getMonth()} + ' ' + ${task.due.getDayOfMonth()} + ' ' + ${task.due.getYear()} ">
            </li><a th:href="@{|/tasks/${task.id}|}" th:text="'[' + #{my.taskdetail} + ']'"></a>
        </div>
    </ul>
</div>
<div><a href="tasks/new" th:text="#{my.newtask}"></a></div>

</body>
</html>